<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <remove name="LocalSqlServer" />

    <!--<add connectionString="Server=server\server;Database=taghdis_amar;User ID=sa;Password=Taghdis000" name="taghdis_amar" providerName="System.Data.SqlClient" />

    <add connectionString="Server=server\server;Database=personel;User ID=sa;Password=Taghdis000" name="personel" providerName="System.Data.SqlClient" />-->

    <!--<add connectionString="Data Source=.;Initial Catalog=bastebandi;Integrated Security=True" name="bastebandi" providerName="System.Data.SqlClient" />-->

    <!--<add connectionString="Server=server\server;Database=bastebandi;User ID=sa;Password=Taghdis000" name="bastebandi" providerName="System.Data.SqlClient" />-->

    <add connectionString="Data Source=.;Initial Catalog=flower_depot;Integrated Security=True" name="flower_depot" providerName="System.Data.SqlClient" />

    <!--<add connectionString="Server=server\server;Database=flower_depot;User ID=sa;Password=Taghdis000" name="flower_depot" providerName="System.Data.SqlClient" />

    <add connectionString="Data Source=.;Initial Catalog=DaftarFanni;Integrated Security=True" name="DaftarFanni" providerName="System.Data.SqlClient" />-->

    <!--<add connectionString="Server=server\server;Database=DaftarFanni;User ID=sa;Password=Taghdis000" name="DaftarFanni" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <system.web>
    <httpRuntime maxRequestLength="2097152" requestLengthDiskThreshold="2097152" executionTimeout="240"/>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Management, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="Login.aspx" timeout="2880" />
    </authentication>
  </system.web>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="2147483648" />
      </requestFiltering>
    </security>
    <modules runAllManagedModulesForAllRequests="true" />
    <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="50000000"/>
      </webServices>
    </scripting>
  </system.web.extensions>
</configuration>