@font-face {
  font-family: 'BYekan';
  src: url('BYekan.eot');
  src: url('BYekan.woff2') format('woff2'),
       url('BYekan.woff') format('woff'),
       url('BYekan.ttf') format('truetype'),
       url('BYekan.svg#BYekan') format('svg'),
       url('BYekan.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

