  @font-face {
      font-family: 'myfont';
      src: url('../fonts/Far_Nazanin.eot'),
           url('../fonts/glyphicons-halflings-regular.eot')format('embedded-opentype'),
           url('..fonts/Far_Nazanin.eot?#FooAnything') format('embedded-opentype');
      src: local('☺'),
           url('../fonts/Far_Nazanin.woff') format('woff'),
           url('../fonts/Far_Nazanin.ttf') format('truetype'),
           url('../fonts/Far_Nazanin.svg') format('svg'),
           url('../fonts/glyphicons-halflings-regular.woff') format('woff'),
           url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'),
           url('../fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg'),
           url('../fonts/glyphicons-halflings-regular.woff2')format('woff2');
      font-weight: 400;
  }
  .loadingmodal {
      display:    none;
      position:   fixed;
      z-index:    1000;
      top:        0;
      left:       0;
      height:     100%;
      width:      100%;
      background: rgba( 255, 255, 255, .8 ) 
                  url('/bastebandi/Images/pIkfp.gif') 
                  50% 50% 
                  no-repeat;
  }
  body.loading {
      overflow: hidden;   
  }
  body.loading .loadingmodal {
      display: block;
  }
  body *{ font-family: myfont;}
  .rbl input[type="radio"] {
      vertical-align: middle;
      margin-left: 6px;
      margin-right: 30px;
      margin-top: 0;
      width: 20px;
      height: 20px;
  }
  nav {
      font-size: 14pt;
  }
  .welcome {
      font-family: myfont;
      font-size: 25pt;
      margin: 10px;
      width: 100%;
  }
  .widepanel {
      width: 100%;
      position: relative;
      display: inline-block !important;
      margin-top: 5px;
      margin-bottom: 5px;
  }
  .panelBorder {
      border: 2px solid rgb(149, 149, 149);
      border-radius: 5px;
      position: relative;
      display: inline-block !important;
      width: 100%;
      margin-bottom: -5px;
      padding: 5px;
  }
  .table th {text-align: center !important; background-color: #65dbff; }
  .table { direction: rtl;  font-size: 13pt; font-weight : 900;}
  .table tr th { padding: 5px 5px !important; }
  .table td { padding: 2px 5px !important;text-align: center !important;}
  .table tr:nth-child(even){background-color: #beefff;}
  .table tr:nth-child(odd){background-color: #eaf4fa;}
  .table td span {color:red;font-weight:bold; text-align: center !important;}
  .form-control 
  {
      font-weight : 900;
      font-size: 14pt;
      height: 40px;
  }
  .headerstyle {
      width: 100%;
      position: relative;
      display: inline-block !important;
      font-size: 15pt;
      padding: 5px;
      background-color: #65dbff;
      border-radius: 10px;
      margin-bottom: 10px;
  }
  .button {
      font-family: myfont;
      font-size: 14pt;
      font-weight : 900;
      color: #000000;
      background-color: #d0cfcf;
      border: none;
      padding: 5px 15px;
      text-align: center;
      display: inline-block;
      cursor: pointer;
      border-radius: 4px;
  }
  .button:hover {
      background-color: #0c0184;
      color: #ffffff;
  }
  nav *{ z-index:10;}
  nav ul ul { display: none;}
  nav ul li:hover > ul { display: block;}
  nav ul {  background: #f1f4f7; box-shadow: 0px 0px 5px rgba(0,0,0,1); padding: 0 20px; list-style: none;position: relative;display: inline-table; width: 100%; }
  nav ul:after { content: ""; clear: both;  display: block;}
  nav ul li { display: inline-block; position: relative; font-weight: bold;}
  nav ul li:hover {background: #338AFF;}
  nav ul li:hover a {text-decoration: none; cursor: pointer; color: #ffffff;}
  nav ul li a { display: block; padding: 5px 32px;color: #6c6c6c; text-decoration: none;}
  nav ul ul { background: #338AFF; padding: 0; position: absolute;top: 100%; right: 0; width: 200px;}
  nav ul ul li { float: none;position: relative;}
  nav ul ul li a { padding: 5px 40px;color: #ffffff; }	
  nav ul ul li a:hover { background: #338AFF;color: #000000;}
  nav ul ul ul {position: absolute;right: 100%;top:0;}
  .panelshadow {
      box-shadow: 0px 0px 5px rgba(0, 0, 0, 1);
      border-radius: 10px;
  }
  .NavTextstyle {
      background-color: Transparent;
      background-repeat:no-repeat;
      border: none;
      cursor:pointer;
      overflow: hidden;
      outline:none;
      font-family: myfont;
  }
  .notifyjs-foo-base {
      font-family: myfont;
      opacity: 0.85;
      width: 300px;
      background: #003366;
      padding: 5px;
      border-radius: 10px;
  }

  .notifyjs-foo-base .title {
      color: white;
      width: 150px;
      float: right;
      margin: 10px 5px 0 10px;
      text-align: right;
      font-size: 16pt;
  }

  .notifyjs-foo-base .buttons {
      width: 80px;
      float: left;
      font-size: 12px;
      font-weight: 800;
      padding: 5px;
      margin: 2px;
  }
  .notifyjs-foo-base button {
      font-size: 12px;
      padding: 5px;
      margin: 2px;
      width: 80px;
  }